.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 0 !important;
	border-right:1px solid  #ddd !important;
	border-bottom:1px solid  #ddd !important;
}