.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 0 !important;
	border-right:1px solid  #ddd !important;
	border-bottom:1px solid  #ddd !important;
}
table.dataTable.no-footer{border-bottom: 0;}
#cboxOverlay{background: none;}
.billingModal #cboxContent{/*border: 1px solid;*/}

#cboxLoadedContent{margin-top:28px;margin-bottom:0;}
.billingDefault .box.box-primary{border-top: none !important;}
.billingDefault #cboxTopCenter, .billingDefault #cboxBottomCenter, .billingDefault #cboxMiddleLeft, .billingDefault #cboxMiddleRight,
.billingDefault #cboxTopLeft, .billingDefault #cboxTopRight, .billingDefault #cboxBottomLeft, .billingDefault #cboxBottomRight{background: none;}

.billingDefault #cboxContent{border: 4px solid #3c8dbc !important; border-radius: 5px; overflow: visible;}
.billingDefault#colorbox  #cboxClose{top:0; right:0}
#cboxOverlay{background-color: #333333;}
.optionRow{margin-bottom: 7px;}
label.error{color:red; font-weight: normal;}
.clear{clear:both !important;}
.softHide{display: none;}
.noMarginBottom{margin-bottom: 0;}
.marginBottom10{margin-bottom: 10px;}

.twitter-typeahead{width: 100%;}
#city, .tt-hint {
	font-size: 14px;
	height: 45px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
}

.tt-dropdown-menu {
	width: 400px;
	margin-top: 5px;
	padding: 8px 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 14px;
	color: #111;
	background-color: #F1F1F1;
}
